@import 'https://octoshrimpy.github.io/microcss/micro.css';
@import 'https://octoshrimpy.github.io/microcss/nf.css';

@mixin professional-bg {
  // background: linear-gradient(45deg, rgb(58, 156, 71), rgba(0, 0, 0, 0.5));
  background: var(--orange-1);
}

.has-shadow {
  box-shadow: var(--shadow-1);
}
* {
  margin: 0;
  padding: 0;
  transition: all 0.15s ease-in-out;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

body {
  position: relative;
  @include professional-bg();
}

h1 {
  font-size: calc(var(--size-2) + 3vw);
  padding: 0;
  margin: 0;
}

span {
  font-size: calc(0.5rem + 1.15vw);
}
img {
  user-select: none;
  border-radius: 5px;
  width: calc(var(--size-8) + 14vw);
  height: calc(var(--size-8) + 14vw);
}

#tagline {
  padding: 0;
  margin: 0;
  font-size: calc(0.35rem + 1.1vw); //varies slightly depending on how long tagline is
}

#name {
  line-height: 100%;
  color: black;
  font-weight: bold;
}
#role {
  font-style: italic;
  font-size: calc(0.45rem + 0.64vw);
  padding: 0;
  padding-bottom: calc(0.05rem + 0.22vw);
  margin: 0;
}
.contact-details {
  font-size: calc(0.5rem + 0.75vw);
}

.qr-code {
  text-decoration: none;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  padding: 0 0 calc(1rem + 0.7vw) calc(1rem + 0.7vw);
  font-size: calc(1.75rem + 0.75vw);
  background-color: transparent;
  user-select: none;
  &:hover {
    background-color: transparent;
  }
}

.vcard {
  font-weight: 500;
  text-decoration: none;
  margin-top: calc(2rem + 1vw);
  text-align: center;
  width: fit-content;
  font-size: calc(0.65rem + 0.5vw);
  background-color: transparent;
  user-select: none;
  padding: var(--size-2);
  border-radius: 1rem;
  &:hover {
    background-color: transparent;
  }
}

.nf-mdi-download {
  margin-left: calc(0.1rem + 0.2vw);
  font-size: calc(0.55rem + 0.45vw);
}

.text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card {
  margin: 0;
  padding: calc(0.15rem + 3.25vw);
  z-index: 1;
  border-radius: 4px 12px;
  top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  height: 31vw;
  width: 55vw;
  &:hover {
    z-index: 1;
    background: white;
    box-shadow: var(--shadow-2);
    transform: translateY(-1px);
  }
}

.business-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.social-links {
  margin-top: 0.1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-bottom: calc(0.15rem + 2.5vw);
}

.button {
  // font-family: monospace;
  width: 22%;
  text-align: center;
  font-size: calc(0.33rem + 0.75vw);
  border-radius: var(--radius-2);
  padding: var(--size-1);
  margin: 0 5%;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: background ease-in-out 0.2s, top ease-in-out 0.07s;
  user-select: none;
  top: -1;
  border: 1px solid var(--blue-4);
  color: var(--gray-7);
  background: var(--blue-0);

  &:after {
    transition: bottom ease-in-out 0.07s;
    position: absolute;
    bottom: -0.4em; // border thickness
    left: -1px;
    z-index: -10;
    display: flex;
    content: '';
    background: var(--blue-7);
    height: 1em;
    width: calc(100% + 2px);
    border-radius: 0 0 5px 5px;
  }

  &:hover {
    background: var(--blue-1);
    font-weight: bold;
  }

  &:active {
    top: 0.3em;

    &:after {
      bottom: 0;
    }
  }

  &:not(:last-child) {
    margin-right: 0.5em;
  }
}

//media queries

//less than fullscreen
@media screen and (max-width: 1230px) {
  .card {
    height: 38vw;
    width: 68vw;
  }
}

//tablet
@media screen and (max-width: 768px) {
  .card {
    height: 41vw;
    width: 72vw;
  }
}

//large phone
@media screen and (max-width: 560px) {
  .card {
    height: 51vw;
    width: 90vw;
  }
}

//medium phone
@media screen and (max-width: 440px) {
  .card {
    height: 51vw;
    width: 91.5vw;
  }
}

//small phone
@media screen and (max-width: 360px) {
  #role {
    font-size: calc(0.45rem + 0.64vw);
  }

  span {
    font-size: calc(0.4rem + 1.15vw);
  }
  .card {
    height: 54vw;
    width: 96vw;
  }
}
